.logo{size: 20px;height: 100px;width: 100px;margin-left:0px;border-radius: 50%;padding-left: 0px;

}
.navigation{background-color:pink ; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; display: flex;margin:auto;padding-left: 500px;

}
.intro{}